
<html layout:decorate="~{layout/main_layout}">
<th:block layout:fragment="page_content">
	<div class="cotn_principal">
		<div class="cont_centrar" style="padding: 99px 0px">
			<div class="cont_login">
				<div class="col-md-offset-2 col-md-4">
					<div class="price-in">

						<a th:href="@{/newloan}" class="btn_sign_up">New
							Application</a>
					</div>
				</div>

				<div class="col-md-4">
					<div class="price-in">
						<a th:href="@{/newloan}" class="btn_sign_up">Last
							Application</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>

