<div id="pension_div" class="tabForms" style="display: none;"
	th:fragment="tabForms">

	<h2>Pension</h2>
	<form class="form-horizontal" method="POST" id="form_pension"  
							th:object="${app_pension}" th:modelAttribute="loan_app">
		  <input type="hidden" id="incomeid_pension" th:field="*{incomeId}"  value="">  
		<div class="form-group row">
			<div class="col-sm-5 text-left">
				<label for="employment_owner_pen"
					class="col-form-label lbl_co_borrow"> <span class="red">*</span>
					Account Owner
				</label>
			</div>
			<div class="col-sm-7 text-left">
				<select class="form-control required62" id="employment_owner_emp"
					th:field="*{accountOwner}">
					<option value="borr">[[${app_start == null ? '':
						app_start.borrowerFullName}]]</option>
					<option th:if="${app_start != null &&  app_start.coBorrowerStatus == 'Yes'}" value="coborr">[[${app_start == null ? '':
						app_start.coBorrowerFullName}]]</option>


				</select>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-4">
				<label class="control-label">When Did you Retire </label> <input
					type="text" class="form-control date" th:field="*{retireDate}"  name="borrower_retire_date"
					id="borrower-retire-date_pension" placeholder="" />
			</div>
			<div class="col-sm-4">
				<label class="control-label"> Employer Name<span class="red">*</span></label>
				<input type="text"
					class="form-control required93 borr_emp_field borr_employer_name_field"
					th:field="*{employerName}" maxlength="45"
					id="borrower_employer_name_pension" placeholder="" value=""
					title="The name of the borrower's employer.">
			</div>
			<div class="col-sm-4">
				<label class="control-label"> Annual Income <span
					class="red">*</span></label> <input type="text"
					class="form-control money required93"
					th:field="*{anualIncome}" id="borrower-pension"
					placeholder="" />
			</div>
		</div>
		<div class="form-group row text-center">
			<div class="col-sm-12">
				<button class="btn btn_custom btn_inline" id="backbutton_pension">Back</button>
				<button class="btn btn_add_pension btn_custom btn_inline"
					id="btn_add_income_app_pension">Add Income</button>
			</div>
		</div>
	</form>
</div>
